@font-face {
    font-family: 'log';
    src: url("./font/log.ttf");
}
.body{
    width: 100%;
    padding: 0;
    margin: 0;
}
.switch{
    text-align: center;
    width: 100%;
    font-size:20px ;
    font-family: log;
    color:white;
}
button{
    color:#fefee9;
    width:120px;
    height: 40px;
    text-align:center;
    line-height:100%;
    padding:0.3em;
    text-decoration:none;
    margin:2px;
    vertical-align:text-bottom;
    zoom:1;
    outline:none;
    border-radius:50px;
    box-shadow:0 1px 2px rgba(0,0,0,0.2);
    text-shadow:0 1px 1px rgba(0,0,0,0.3);
    border:0.2px solid #54c4bd;
    background-repeat:repeat;
    background-size:auto;
    background-origin:padding-box;
    background-clip:padding-box;
    background-color: #54c4bd;
    background: linear-gradient(to bottom, #eeeff9 0%, #54c4bd 100%);
}
button:hover {
    background: #05a59c;
}
.main{
    color:white;
    text-align: center;
    border: #54c4bd dotted;
    padding-top: 8%;
    border-radius:3%;
    margin: 5%;
}
.input{
    outline: none;
    display: inline-block;
}
.text{
    display: inline-block;
    margin-right: 10%;
    color: #54c4bd;
    font-family: log;
}
.input_pas{
    outline: none;
    display: inline-block;
    margin-left: 3%;
}
.input_but{
    color:white;
}
.but{
    color: #eeeff9;
    font-family: log;
    font-size: 20px;
    text-align:center;
    line-height:100%;
    padding:0.3em;
    text-decoration:none;
    margin:2px;
}
.input_pas2{
    outline: none;
    display: inline-block;
    margin-right: 3%;
}

